@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}

header{
	background-color:#F2F3F4;
	padding-top: 25px;
    

}

.encab{
	margin-top:20px;
	font-family: 'Roboto', sans-serif;
        padding-left: 390px;
}
.socialheader{
	margin-top: 20px;
	margin-left: 340px;
}
.socialheader a{
	color: #fff;
}
.socialheader a .fa-inverse{
	color: #2a1000;
}
.menu-bar{
	background-color: #3C95A2;;
	background-color: #3C95A2;;
	margin-top: 20px;
}
.menu-bar a {
	color: #FDFEFE;
	font-size: 14px;
	font-weight: 500;
	
}
.menu-bar a:hover{
	text-decoration: none;
    color: #130A40;
}


