/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-nov-2019, 16:26:41
    Author     : acer
*/

*{
    margin: 0px;
    padding: 0px;
}

#ventana{
    width: auto;
   
    //VERDE: #20B2AA
    margin: auto;
    //color: #FDFEFE;
    color: #141414;
    margin-top: auto;
    padding: 20px 120px 150px 10px;
    border-top: 35px solid #3C95A2;
    border-right: 35px solid #3C95A2;
    border-left: 35px solid #3C95A2;;
    //background-color: #20B2AA;;
    background-color: #F2F3F4;;
}


#titulo{
    font-size: 35px;
    font-family: fantasy;
    font-weight: 600;
    padding-left: 480px;
}

#Nom{
    font-family: fantasy;
    padding-left: 485px;
}

#APaterno{
    font-family: fantasy;
    padding-left: 485px;
}

#AMaterno{
    font-family: fantasy;
    padding-left: 485px;
}

#FechaN{
    font-family: fantasy;
    padding-left: 485px;
}

#sex{
    font-family: fantasy;
    padding-left: 485px;

}

#curp{
    font-family: fantasy;
    padding-left: 485px;
}

#rfc{
    font-family: fantasy;
    padding-left: 485px;
}

#cedula{
    font-family: fantasy;
    padding-left: 485px;
}

#Modificar{
    padding-left: 490px;  
   
}

#Cancelar{
    padding-left: 525px; 
     padding-top: 30px;
}

.Nombre{
    width: 162px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}

.APaterno{
    width: 122px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}

.AMaterno{
    width: 120px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}
.FechaN{
    width: 89px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}

.sexo{
    width: 23px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}

.curp{
    width: 210px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}

.rfc{
    width: 120px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}

.cedula{
    width: 97px;
    height: 20px;
    font-family: verdana; 
    font-weight: 400;
    border-radius: 5px;
}

.Modificar{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 180px;
    background-color: #3C95A2;;
}

.Cancelar{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 75px;
    background-color: #3C95A2;;
}
