@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
header{
    width: 100%;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li a:hover{
    color:  #130A40;
    transition: all .3s;
}

/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 180%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 10px;
    color: #fff;
    font-family: 'Open sans';
    font-size:15px;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
/*-----------------------------------------*/
.encab{
	margin-top:20px;
        
	font-family: 'Roboto', sans-serif;
}
.socialheader{
    margin-top: 20px;
    margin-left: 340px;
}
.socialheader a{
    color: #fff;
}
.socialheader a .fa-inverse{
    color: #2a1000;
}
.menu-bar{
    background-color: #3C95A2;;
    background-color: #3C95A2;;
    margin-top: 20px;
}
.menu-bar a {
    color: #FDFEFE;
    font-size: 14px;
    font-weight: 500;

}
.menu-bar a:hover{
    text-decoration: none;
    color: #130A40;
}
.menu-list{
    padding: 12px 0;
    margin-top: 0px;

}
.menu-list li:not(:last-child) {
    margin-right: 40px;
}
/*----------------------------------*/
.encabpag{
    margin-top:20px;
    margin-left:570px;
    font-family: 'Roboto', sans-serif;
}
.subtitulo {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-left:130px;
}
.control-label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left:10px;
}

.control-llenar{
    width: 70%;
    height: 16px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;

    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;


}
.form-group {
    margin-bottom: 15px;
}


.th{
    border-bottom: 2px solid #555;
    width: 20%;
    height: 10px;
}
.td{
    border-bottom: 2px solid #555;
    text-align: center;
}
.my-custom-scrollbar {
position: relative;
height: 90px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}


.pos-izq {
    width: 30.0%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 20px;
}
.boton{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    width: 77%;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 1px solid;
    border-radius: 4px;
    -webkit-appearance: button;
    cursor: pointer;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: block;
    box-sizing: border-box;

    /*----------------------------------*/
    

}